@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,500);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic);

body,
html {
  background: #292929;
  color: #333;
  font: 1em/1.5em Lato, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

::selection {
  background: #a4a4a4;
}

h1 {
  font: 2em/1em 'Dosis';
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font: 400 2.2em/0.5em 'Dosis';
  text-shadow: 0 1px 0 #333;
  text-transform: uppercase;
}

h3 {
  font: 1.5em/1em 'Dosis';
  letter-spacing: 0.1em;
}

.sticky {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100%;
  z-index: 100;
}

  .contentpush {
    padding-top: 5em !important;
  }

.maxcontainer {
  margin: 0 auto;
  max-width: 2000px;
}

header {
  background: #2e2e2e;
  height: 100%;
  z-index: -1;
}

  #container {
    position: fixed;
    height: 100%;
    width: 100%;
  }

  #cover {
    background: url(../img/adam.jpg) center center / cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  #cover::before,
  #cover::after {
    background-color: rgba(115, 167, 121, 0.7);
    box-sizing: border-box;
    content: ' ';
    height: 50%;
    left: -25%;
    position: absolute;
    width: 150%;
  }

  #cover::before {
    bottom: -10%;
    transform: rotate(5deg);
  }

  #cover::after {
    bottom: -15%;
    transform: rotate(-2deg);
  }

  .name {
    color: #fff;
    font: 3em/2em 'Dosis', 'Impact', sans-serif;
    margin-top: -1em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    bottom: 15%;
    width: 100%;
    z-index: 1000;
  }

#content {
  background: #fff;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 100;
}

  #more {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 1em;
    left: 50%;
    margin-left: -1.25em;
    padding: 0.5em 1em;
    position: absolute;
    top: -2.5em;
    transition: all 0.3s;
    z-index: 1;
  }

  #more:hover {
    background: #888;
    cursor: pointer;
    top: -3em;
    padding-bottom: 1em;
  }

nav {
  background: #73a779;
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
  width: 100%;
}

  #navleft {
    display: inline-block;
    margin: 0 1em;
    padding: 0.625em 1em;
  }

    #navigation {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #navigation li {
      border-radius: 5px;
      display: inline-block;
      font-weight: 300;
      padding: 0.5em 1em;
      transition: all 0.15s;
    }

    #navigation li:hover {
      background: #8cbc8b;
      cursor: pointer;
    }

    #navigation li a {
      color: #fff;
      text-decoration: none;
    }

    #title {
      font-weight: 400 !important;
    }

  #navright {
    background: #8cbc8b;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin: 0.5em 2em;
    padding: 0.625em 1em;
  }

    #navright:hover {
      cursor: pointer;
    }

#about {
  background: #464646 url(../img/ics.png) fixed center center;
  color: #fff;
  margin: 0;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}

  .person {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .person_contents {
    margin: 1em 2em;
  }

  .about-me {
    font-weight: 300;
    text-align: justify;
  }

  #first {
    border-right: 1px solid #888;
    margin-right: 0;
    padding-right: 2em;
  }

  .photo {
    border-radius: 100%;
    border: 0.5rem solid #7e7e7e;
    height: auto;
    max-height: 350px;
    max-width: 350px;
    transition: all 0.2s;
    width: 35%;
  }

#goals {
  padding: 2em;
  text-align: center;
}

  #grid {
    margin-top: 1.5em;
  }

  .goal {
    background: #ddd;
    box-sizing: border-box;
    display: inline-block;
    margin: 1.5%;
    transition: background 0.3s;
    vertical-align: top;
    width: 20%;
  }

    .goal:hover {
      background: #efefef;
    }

  .goal > div {
    padding: 1em;
  }

    .goal p {
      height: 5em;
    }

#vote {
  background: #f0ede5;
  text-align: center;
}

  #vote h1,
  #vote p {
    color: #444;
    margin: 0;
    padding: 1em 0 !important;
    width: 100%;
  }

#contact {
  background: #5b636a;
  color: #d6d9dc;
  padding: 2em;
  text-align: center;
}

  #contact h1 {
    margin-bottom: 0.5em;
  }

  .button {
    border-radius: 5px;
    border: 2px solid #d6d9dc;
    color: #d6d9dc;
    display: inline-block;
    margin: 1em;
    padding: 0.75em 4em;
    text-decoration: none;
    transition: all 0.3s;
    max-width: 180px;
  }

  .button:hover {
    background: #d6d9dc;
    color: #444;
  }

footer {
  background: #363f48 url(../img/cssu.png) no-repeat center right 2em;
  background-size: 310px auto;
  color: #aaa;
  font-size: 0.9em;
  padding: 1em 2em;
}

  footer a {
    border-bottom: 1px dotted #777;
    color: #aaa;
    text-decoration: none;
  }

  #ccimg {
    border-bottom: 0;
  }

  #cc {
    font-size: 0.75em;
    margin-top: 0;
  }

@media only screen and (max-width: 500px) {
  .goal {
    margin: 1em 0 !important;
    width: 100% !important;
  }

  .person {
    width: 100% !important;
  }

  footer {
    background-position: center center;
  }
}

@media only screen and (max-width: 750px) {
  nav {
    text-align: center;
  }

  #navright {
    display: none !important;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
  .button {
    background: url(../img/twitter@2x.png) no-repeat 1em 0.7em !important;
    background-size: 26px auto !important;
  }

  .button:hover {
    background: #d6d9dc url(../img/twitter@2x_hover.png) no-repeat 1em 0.7em !important;
    background-size: 26px auto !important;
  }

  footer {
    background: #363f48 url(../img/cssu@2x.png) no-repeat center right;
    background-size: 310px auto !important;
  }
}
